<nav class="navbar navbar-light fixed-top shadow-sm">
<h2>
  <img src="https://raw.githubusercontent.com/kngkiro/ng-training/Frontend/src/assets/rocheicon.png" width="auto" height="30">
</h2>
</nav>

<h1>Welcome to the  <br /> 
  Apprenticeship Management System</h1>

<div class="container">
<div class="box">
<a  [routerLink]="['/instructor']"> 
<img src="https://raw.githubusercontent.com/kngkiro/ng-training/LocalStorage/src/assets/images/Roche_9743.png">
  <span>Instructor</span>
</a>
</div>

<div class="box">
  <a [routerLink]="['/apprentice']">
  <img src="https://raw.githubusercontent.com/kngkiro/ng-training/LocalStorage/src/assets/images/EmbeddedImage.jpg">
  <span>Apprentice</span>
  </a>
</div>

<div class="box">
  <a [routerLink]="['/abba']">
  <img src="https://raw.githubusercontent.com/kngkiro/ng-training/LocalStorage/src/assets/images/Roche_9705.png">
  <span>ABBA</span>
  </a>
</div>
</div>

<p>The apprenticeship concept is a program to join different departments at
Roche for a period of three months. Every student should have the opportunity to see differnt working areas. <br /> 
Also its possible to go to stay abroad at another site. A special part is the personalized apprenticeship. <br />
This information you can find @ <a href="https://sites.google.com/roche.com/hr-germany-ausbildung-ma-de/allgemeine-infos/personalisierte-ausbildung">Personalisierte Ausbildung</a> <br />
If you want to become an ABBA please contact an instructor. 
More information you can find @ <a href="https://sites.google.com/roche.com/hr-germany-ausbildung-ma-de/ausbildung-mannheim">Ausbildung Mannheim</a></p>
