<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="card">
  <div class="card-header">
    
    <div class="row">
      <div class="col-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Berufsgruppen</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Angewande Informatik</button>
            <button ngbDropdownItem>Wirtschaftsinformatik</button>
            <button ngbDropdownItem>Wirtschaftsingeneurswesen</button>
            <button ngbDropdownItem>BWL</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Jahrgang</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>2022</button>
            <button ngbDropdownItem>2021</button>
            <button ngbDropdownItem>2020</button>
            <button ngbDropdownItem>2019</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <button class="btn btn-lg btn-outline-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </div>
  <div class="card-body">
    <h5 class="card-title">Anfragen aus den Fachbereichen</h5>
    <p class="card-text">Wirtschaftsingeneurwesen - 2021</p>


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Start</th>
          <th scope="col">Ende</th>
          <th scope="col">Studiengang</th>
          <th scope="col">Jahrgang</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Abteilung</th>
          <th scope="col">Ansprechpartner</th>
          <th scope="col">Skills</th>
          <th scope="col">Sonstiges</th>
          <th scope="col">Aktion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{job.start}}</td>
          <td>{{job.end}}</td>
          <td>{{job.group}}</td>
          <td>{{job.year}}</td>
          <td>{{job.description}}</td>
          <td>{{job.deparment}}</td>
          <td>{{job.name}}</td>
          <td>{{job.skills}}</td>
          <td>{{job.misc}}</td>

          <td>
          <a class="btn btn-success" [routerLink]="['/newphase']"><i class="fa fa-folder-open"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
