<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="card">
  <div class="card-header">
    
    <div class="row">
      <div class="col-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Berufsgruppen</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Angewande Informatik</button>
            <button ngbDropdownItem>Wirtschaftsinformatik</button>
            <button ngbDropdownItem>Wirtschaftsingeneurswesen</button>
            <button ngbDropdownItem>BWL</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Jahrgang</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>2022</button>
            <button ngbDropdownItem>2021</button>
            <button ngbDropdownItem>2020</button>
            <button ngbDropdownItem>2019</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <button class="btn btn-lg btn-outline-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </div>
  <div class="card-body">
    <h5 class="card-title">Anfragen aus den Fachbereichen</h5>
    <p class="card-text">Wirtschaftsingeneurwesen - 2021</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Abteilung</th>
          <th scope="col">Titel</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Ansprechpartner</th>
          <th scope="col">Zeitraum</th>
          <th scope="col">Bewerben</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Warehouse Master Data  Import Export</th>
          <td>Einsatz 1</td>
          <td>"Praxiseinsatz Student in Material Management PT Penzberg 
            Hintergrund 
            Die Gefahrstoffe die in PT PZ (aktuell 6 Stück) in Verwendung sind, werden manuell von einem Disponent über ein gSheet geplant. Alle Daten müssen dabei aus SAP manuell nachgeschaut werden und in das gSheet übertragen werden. Dies führt zu einer langen Planungsdauer aufgrund der manuellen Suche. 
            Ziel 
            Die Planung soll in dem gSheet weiter erfolgen, aber alle Daten die aus SAP manuell exportiert werden, sollen in Zukunft automatisch passieren. Dabei muss eine Schnittstelle zwischen SAP und dem gSheet aufgesetzt werden. 
            Erste Softwareprodukte werden von der globalen IT eingesetzt. 
            Anforderungen 
            ● Student mit Informatik Background 
            ● Prozessverständnis in SAP 
            ● Eigenständige Arbeitsweise
            "</td>
          <td>Julia Kissel / Fabian Schäfer</td>
          <td>01.01.2022 - 01.04.2022</td>
          <td><button type="button" class="btn btn-primary" href="/abba"><i class="fa fa-folder-open"></i></button></td>
        </tr>
        <tr>
          <th scope="row">Information Solutions Lab Insights (DEGBL)</th>
          <td>Einsatz 2</td>
          <td>Konzipierung der roche.de RIS Website
            Gegen Ende des Jahres wird ein neues Roche Branding für NAVIFY erwartet. Zusätzlich sind die Websiten unserer RIS Produkte nicht einheitlich gestaltet. Daher soll auf Basis des neuen Brandings ein Konzept mit den Verantwortlichen der Website erarbeitet werden.</td>
          <td>Marcel Deris</td>
          <td>01.01.2022 - 01.04.2022</td>
          <td><button type="button" class="btn btn-primary"><i class="fa fa-folder-open"></i></button></td>
        </tr>
        <tr>
          <th scope="row">Mgmt Support (DOMAM)</th>
          <td>Einsatz 3</td>
          <td>Unterstützung beim Change Management, Aufbau einer Website mit Informationsmaterial und Schulungsmaterial für den Rollout einer Software für 800 Mitarbeiter in DOMA. Ergänzend ggf. noch die Entwicklung eines Chatbots. </td>
          <td>Marcus, van Dijk</td>
          <td>01.01.2022 - 01.04.2022</td>
          <td><button type="button" class="btn btn-primary"><i class="fa fa-folder-open"></i></button></td>
        </tr>
      </tbody>
    </table>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>