<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="card">
  <div class="card-header">
    
    <div class="row">
      <div class="col-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Berufsgruppe</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Angewande Informatik</button>
            <button ngbDropdownItem>Wirtschaftsinformatik</button>
            <button ngbDropdownItem>Wirtschaftsingeneurswesen</button>
            <button ngbDropdownItem>BWL</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Jahrgang</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>2022</button>
            <button ngbDropdownItem>2021</button>
            <button ngbDropdownItem>2020</button>
            <button ngbDropdownItem>2019</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <button class="btn btn-lg btn-outline-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="page-box mt-5 mx-4"> <!-- margin top 5rem -->

  <div class="box mx-2">
    <div class="box-header row">
      <div class="col-8">
        <h5 class="box-title">Meine Praxisphasen-Angebote</h5>
        <p class="box-subtitle">In der Tabellen sind die ausgeschriebenen Angebote aufgelistet.</p>
      </div>
      <div class="col-4 position-relative " >
        <a href="#" class="btn btn-primary position-absolute top-0 end-0">Neuer Eintrag</a>
        <!-- routing hinzufügen -->
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titel</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Zeitraum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Workflow Systems px12 & CCM & TALL</td>
          <td>"Creation of a cobas 8100 Software Navigator  (We need a tool to share all information about the individual Software versions 
            for the cobas 8100 Control Unit. We want to have a Navigator where application specialists, engineers and the global support team 
            can search for bugfixes, new features and general information. We like to implement that tool on our gsite"</td>
          <td>@12/2022 - 03/2023</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td></td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td></td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
