
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Berufsgruppe</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Angewande Informatik</button>
        <button ngbDropdownItem>Wirtschaftsinformatik</button>
        <button ngbDropdownItem>Wirtschaftsingeneurswesen</button>
        <button ngbDropdownItem>BWL</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Jahrgang</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Angewande Informatik</button>
        <button ngbDropdownItem>Wirtschaftsinformatik</button>
        <button ngbDropdownItem>Wirtschaftsingeneurswesen</button>
        <button ngbDropdownItem>BWL</button>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-lg btn-outline-primary">Launch demo modal</button>
  </div>
</div>
