<div class="card">

<div class="card-body">

  <form>

  <!-- name -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form6Example1" class="form-control" />
        <label class="form-label" for="form6Example1">Vorname</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form6Example2" class="form-control" />
        <label class="form-label" for="form6Example2">Nachname</label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="form6Example3" class="form-control" />
    <label class="form-label" for="form6Example3">E-Mail</label>
  </div>


  <!-- type / year -->
    <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>AI</option>
          <option>WI</option>
          <option>WING</option>
          <option>BWL</option>
        </select>
        <label class="form-label" for="form6Example1">Berufsgruppe</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>2022</option>
          <option>2021</option>
          <option>2020</option>
          <option>2019</option>
        </select>
        <label class="form-label" for="form6Example2">Jahrgang</label>
      </div>
    </div>
  </div>

  <!-- skills -->
  <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Webentwicklung
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Projektmanagement
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
              Controlling
            </label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
          <label class="form-check-label" for="defaultCheck4">
            Prozessanalyse
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
          <label class="form-check-label" for="defaultCheck5">
            Marketing
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
          <label class="form-check-label" for="defaultCheck6">
            Software-Engineering
          </label>
        </div>
      </div>
      <label class="form-label" for="form6Example4">Interessen & Skills</label>
  </div>

  <!-- moitvation -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form6Example7" rows="6"></textarea>
    <label class="form-label" for="form6Example7">Motivation</label>
  </div>

  <!-- CV -->
  <div class="form-outline mb-4">
    <input type="file" class="form-control" id="customFile" />
    <label class="form-label" for="form6Example5">Lebenslauf</label>
  </div>

  <!-- Submit button -->
  <div class="text-center">
    <button type="submit" class="btn btn-lg btn-primary btn-block mb-12" >Bewerbung abesenden</button>
  </div>

  </form>

</div>

</div>