<div class="card">

<div class="card-body">

  <form [formGroup]="application" (ngSubmit)="onSubmit()">

    <!-- type / year -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="group">Berufsgruppe</label>
          <select class="form-control" name="group" id="group" formControlName="group" required>
            <option>AI</option>
            <option>WI</option>
            <option>WING</option>
            <option>BWL</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="year">Jahrgang</label>
          <select class="form-control" name="year" id="year" formControlName="year" required>
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
          </select>
        </div>
      </div>
    </div>

    <!-- name -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
        <label class="form-label" for="form6Example1">Name</label>
          <input class="form-control w-50" type="text" id="name" name="name" formControlName="name" placeholder="Name" >
        </div>
      </div>
    </div>

  <!-- Email -->
  <div class="form-outline mb-4">
  <label class="form-label" for="mail">E-Mail</label>
  <input type="mail" id="mail" class="form-control" name="mail" formControlName="mail" placeholder="mail" >
  </div>

  <!-- moitvation -->
  <div class="form-outline mb-4">
    <label class="form-label" for="motivation">Vorstellung</label>
    <textarea class="form-control" id="motivation" name="motivation" formControlName="motivation" rows="6"></textarea>
  </div>

  <!-- CV -->
  <div class="form-outline mb-4">
    <label class="form-label" for="cv">Lebenslauf</label>
    <input type="file" class="form-control" id="cv" name="cv"/>
  </div>

  <div class="form-group">
    <input type="text" hidden="hidden"  formControlName="start" >
    <input type="text" hidden="hidden" formControlName="end" >

  </div>

  <!-- Submit button -->
  <div class="text-center">
    <button type="submit"  class="btn btn-lg btn-success btn-block mb-12" >Bewerbung absenden</button>
  </div>

  </form>

</div>

</div>