
<header>
<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
</style>

<button routerLink="/abba" routerLinkActive="active" ariaCurrentWhenActive="page">ABBA</button>
<button routerLink="/apprentice" routerLinkActive="active" ariaCurrentWhenActive="page">Apprentice</button>
<!-- <button routerLink="/instructor" routerLinkActive="active" ariaCurrentWhenActive="page">Instructor</button> -->

<router-outlet></router-outlet>
